examples/radio_slicing/node-red-gui/gui.json
[{"id":"ef5bf96.f10a408","type":"tab","label":"Flow 1"},{"id":"74215c30.fc302c","type":"subflow","name":"TV","info":"","in":[{"x":60,"y":251,"wires":[{"id":"a0fc2d0b.85aba"}]}],"out":[]},{"id":"aa2faf60.f79e","type":"subflow","name":"Laptop","info":"","in":[{"x":48,"y":319,"wires":[{"id":"c3884f1a.63ac3"}]}],"out":[]},{"id":"48bfd578.a6e8ac","type":"subflow","name":"Radio","info":"","in":[{"x":48,"y":310,"wires":[{"id":"fd5276ea.2fbee8"}]}],"out":[]},{"id":"8b77535d.02e968","type":"subflow","name":"Guest 1","info":"","in":[{"x":64,"y":295,"wires":[{"id":"68a376e.664d708"}]}],"out":[]},{"id":"6f367e1e.958568","type":"subflow","name":"Guest 2","info":"","in":[{"x":57,"y":298,"wires":[{"id":"9c0ab949.4ca288"}]}],"out":[]},{"id":"e6fc5d92.3d6ab8","type":"ui_tab","z":"","name":"Demo","icon":"dashboard"},{"id":"afaede7c.78e21","type":"ui_group","z":"","name":"Devices","tab":"","disp":true,"width":"8"},{"id":"7346d121.54ebb8","type":"ui_base","name":"Radio Slicer Demo","theme":"theme-dark"},{"id":"42e5ed51.a5dd04","type":"ui_group","z":"","name":"TV","tab":"e6fc5d92.3d6ab8","order":1,"disp":true,"width":"6"},{"id":"3f11b5ff.62621a","type":"ui_link","z":"","name":"Radio Slicer source code","link":"https://github.com/uniflex/examples/tree/master/node_red","icon":"open_in_browser","target":"newtab","order":1},{"id":"8d3d0c29.a1e1a","type":"ui_tab","z":"","name":"Manual","icon":"dashboard","order":2},{"id":"53fb69cb.f93f3","type":"ui_group","z":"","name":"Guest 1","tab":"e6fc5d92.3d6ab8","order":4,"disp":true,"width":"6"},{"id":"b4bdb5e3.e00ce","type":"ui_group","z":"","name":"Guest 2","tab":"e6fc5d92.3d6ab8","order":5,"disp":true,"width":"6"},{"id":"827885a7.37ab88","type":"comment","z":"ef5bf96.f10a408","name":"Subscribe for Events","info":"","x":106,"y":281,"wires":[]},{"id":"28907a2d.d76f86","type":"function","z":"ef5bf96.f10a408","name":"Parse Event","func":"//Parse event\nmsg.event = JSON.parse(msg.event);\n\n//Set to payload for next node on path\nmsg.payload = msg.event;\n\nreturn msg;","outputs":"1","noerr":0,"x":396,"y":320,"wires":[["cd36f9ed.2f016"]]},{"id":"75198dfc.8ae674","type":"uniflex-sub","z":"ef5bf96.f10a408","name":"UniFlex-SUB","mode":"sub","uri":"tcp://127.0.0.1:8990","server":false,"topics":"StaStateEvent,StaThroughputEvent,StaPhyRateEvent,StaSlotShareEvent","x":145,"y":320,"wires":[["28907a2d.d76f86"]]},{"id":"3e7c8352.c44334","type":"subflow:74215c30.fc302c","z":"ef5bf96.f10a408","name":"TV","x":890.5,"y":123,"wires":[]},{"id":"55a43ffd.12b74","type":"ui_chart","z":"74215c30.fc302c","name":"Throughput","group":"42e5ed51.a5dd04","order":2,"width":0,"height":0,"label":"Throughput","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"0","ymax":"15","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","x":1055,"y":206,"wires":[[],[]]},{"id":"3e174cdc.d703a4","type":"ui_switch","z":"74215c30.fc302c","name":"","label":"ON/OFF","group":"42e5ed51.a5dd04","order":1,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1041,"y":111,"wires":[[]]},{"id":"eeace3ab.7f477","type":"ui_gauge","z":"74215c30.fc302c","name":"Slot Share","group":"42e5ed51.a5dd04","order":3,"width":0,"height":0,"gtype":"donut","title":"Slot Share","label":"","format":"","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":1067,"y":380,"wires":[]},{"id":"63524798.edf71","type":"ui_chart","z":"74215c30.fc302c","name":"PhyRate","group":"42e5ed51.a5dd04","order":2,"width":0,"height":0,"label":"PhyRate","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderUnit":"60","x":1052,"y":291,"wires":[[],[]]},{"id":"ea6a2b08.b49f28","type":"subflow:8b77535d.02e968","z":"ef5bf96.f10a408","x":899.5,"y":425,"wires":[]},{"id":"ecb9a55d.fc67a8","type":"subflow:6f367e1e.958568","z":"ef5bf96.f10a408","x":896.5,"y":535,"wires":[]},{"id":"a0fc2d0b.85aba","type":"switch","z":"74215c30.fc302c","name":"Event Switch","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"StaStateEvent","vt":"str"},{"t":"eq","v":"StaThroughputEvent","vt":"str"},{"t":"eq","v":"StaPhyRateEvent","vt":"str"},{"t":"eq","v":"StaSlotShareEvent","vt":"str"}],"checkall":"true","outputs":4,"x":235,"y":249,"wires":[["fc0d44b4.c7ddf"],["e4340ac5.558dc"],["93a5127a.d67938"],["947e3d82.be2a3"]]},{"id":"f97afef3.74e2c8","type":"smooth","z":"74215c30.fc302c","name":"Moving Average Filter","action":"mean","count":"10","round":"","x":752,"y":30,"wires":[[]]},{"id":"cd36f9ed.2f016","type":"switch","z":"ef5bf96.f10a408","name":"Event Switch","property":"payload.sta","propertyType":"msg","rules":[{"t":"eq","v":"TV","vt":"str"},{"t":"eq","v":"Guest1","vt":"str"},{"t":"eq","v":"Guest2","vt":"str"}],"checkall":"true","outputs":3,"x":583,"y":320,"wires":[["3e7c8352.c44334"],["ea6a2b08.b49f28"],["ecb9a55d.fc67a8"]]},{"id":"fc0d44b4.c7ddf","type":"function","z":"74215c30.fc302c","name":"Transform","func":"if (msg.payload.state === true) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg","outputs":1,"noerr":0,"x":462.5,"y":121,"wires":[["3e174cdc.d703a4"]]},{"id":"e4340ac5.558dc","type":"function","z":"74215c30.fc302c","name":"Transform","func":"msg.payload = msg.payload.throughput\n\nreturn msg","outputs":1,"noerr":0,"x":461,"y":196,"wires":[["55a43ffd.12b74"]]},{"id":"93a5127a.d67938","type":"function","z":"74215c30.fc302c","name":"Transform","func":"msg.payload = msg.payload.phyRate\n\nreturn msg","outputs":1,"noerr":0,"x":467,"y":279,"wires":[["63524798.edf71"]]},{"id":"947e3d82.be2a3","type":"function","z":"74215c30.fc302c","name":"Transform","func":"msg.payload = msg.payload.slotShare\n\nreturn msg","outputs":1,"noerr":0,"x":462,"y":378,"wires":[["eeace3ab.7f477"]]},{"id":"ccfd13ba.35b5f","type":"ui_chart","z":"aa2faf60.f79e","name":"Throughput","group":"","order":2,"width":0,"height":0,"label":"Throughput","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderUnit":"60","x":1034,"y":276,"wires":[[],[]]},{"id":"faf102ba.5ff9c","type":"ui_switch","z":"aa2faf60.f79e","name":"","label":"ON/OFF","group":"","order":1,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1020,"y":181,"wires":[[]]},{"id":"938c93f2.3ac878","type":"ui_gauge","z":"aa2faf60.f79e","name":"Slot Share","group":"","order":3,"width":0,"height":0,"gtype":"donut","title":"Slot Share","label":"","format":"","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":1046,"y":450,"wires":[]},{"id":"3f39a214.cfe1de","type":"ui_chart","z":"aa2faf60.f79e","name":"PhyRate","group":"","order":2,"width":0,"height":0,"label":"PhyRate","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderUnit":"60","x":1031,"y":361,"wires":[[],[]]},{"id":"c3884f1a.63ac3","type":"switch","z":"aa2faf60.f79e","name":"Event Switch","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"StaStateEvent","vt":"str"},{"t":"eq","v":"StaThroughputEvent","vt":"str"},{"t":"eq","v":"StaPhyRateEvent","vt":"str"},{"t":"eq","v":"StaSlotShareEvent","vt":"str"}],"checkall":"true","outputs":4,"x":214,"y":319,"wires":[["31a1b882.ca04e"],["7ea0235.62cc0dc"],["963b9f82.feed5"],["672fcba3.80ff14"]]},{"id":"7ec9068e.ce8198","type":"smooth","z":"aa2faf60.f79e","name":"Moving Average Filter","action":"mean","count":"10","round":"","x":731,"y":100,"wires":[[]]},{"id":"31a1b882.ca04e","type":"function","z":"aa2faf60.f79e","name":"Transform","func":"if (msg.payload.state === true) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg","outputs":1,"noerr":0,"x":441.5,"y":191,"wires":[["faf102ba.5ff9c"]]},{"id":"7ea0235.62cc0dc","type":"function","z":"aa2faf60.f79e","name":"Transform","func":"msg.payload = msg.payload.throughput\n\nreturn msg","outputs":1,"noerr":0,"x":440,"y":266,"wires":[["ccfd13ba.35b5f"]]},{"id":"963b9f82.feed5","type":"function","z":"aa2faf60.f79e","name":"Transform","func":"msg.payload = msg.payload.phyRate\n\nreturn msg","outputs":1,"noerr":0,"x":446,"y":349,"wires":[["3f39a214.cfe1de"]]},{"id":"672fcba3.80ff14","type":"function","z":"aa2faf60.f79e","name":"Transform","func":"msg.payload = msg.payload.slotShare\n\nreturn msg","outputs":1,"noerr":0,"x":441,"y":448,"wires":[["938c93f2.3ac878"]]},{"id":"9159b393.939c6","type":"ui_chart","z":"48bfd578.a6e8ac","name":"Throughput","group":"","order":2,"width":0,"height":0,"label":"Throughput","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderUnit":"60","x":1032,"y":268,"wires":[[],[]]},{"id":"7818e506.43a474","type":"ui_switch","z":"48bfd578.a6e8ac","name":"","label":"ON/OFF","group":"","order":1,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1018,"y":173,"wires":[[]]},{"id":"2e1be40d.be312c","type":"ui_gauge","z":"48bfd578.a6e8ac","name":"Slot Share","group":"","order":3,"width":0,"height":0,"gtype":"donut","title":"Slot Share","label":"","format":"","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":1044,"y":442,"wires":[]},{"id":"32e26752.8adb2","type":"ui_chart","z":"48bfd578.a6e8ac","name":"PhyRate","group":"","order":2,"width":0,"height":0,"label":"PhyRate","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderUnit":"60","x":1029,"y":353,"wires":[[],[]]},{"id":"fd5276ea.2fbee8","type":"switch","z":"48bfd578.a6e8ac","name":"Event Switch","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"StaStateEvent","vt":"str"},{"t":"eq","v":"StaThroughputEvent","vt":"str"},{"t":"eq","v":"StaPhyRateEvent","vt":"str"},{"t":"eq","v":"StaSlotShareEvent","vt":"str"}],"checkall":"true","outputs":4,"x":212,"y":311,"wires":[["61c1a153.4495b"],["382da228.66a806"],["3f8af4f8.0397ec"],["f3100152.46e898"]]},{"id":"32e10071.5b54b","type":"smooth","z":"48bfd578.a6e8ac","name":"Moving Average Filter","action":"mean","count":"10","round":"","x":729,"y":92,"wires":[[]]},{"id":"61c1a153.4495b","type":"function","z":"48bfd578.a6e8ac","name":"Transform","func":"if (msg.payload.state === true) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg","outputs":1,"noerr":0,"x":439.5,"y":183,"wires":[["7818e506.43a474"]]},{"id":"382da228.66a806","type":"function","z":"48bfd578.a6e8ac","name":"Transform","func":"msg.payload = msg.payload.throughput\n\nreturn msg","outputs":1,"noerr":0,"x":438,"y":258,"wires":[["9159b393.939c6"]]},{"id":"3f8af4f8.0397ec","type":"function","z":"48bfd578.a6e8ac","name":"Transform","func":"msg.payload = msg.payload.phyRate\n\nreturn msg","outputs":1,"noerr":0,"x":444,"y":341,"wires":[["32e26752.8adb2"]]},{"id":"f3100152.46e898","type":"function","z":"48bfd578.a6e8ac","name":"Transform","func":"msg.payload = msg.payload.slotShare\n\nreturn msg","outputs":1,"noerr":0,"x":439,"y":440,"wires":[["2e1be40d.be312c"]]},{"id":"2e171731.9a8078","type":"ui_chart","z":"8b77535d.02e968","name":"Throughput","group":"53fb69cb.f93f3","order":2,"width":0,"height":0,"label":"Throughput","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"0","ymax":"15","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","x":1094,"y":260,"wires":[[],[]]},{"id":"f338eee0.9f331","type":"ui_switch","z":"8b77535d.02e968","name":"","label":"ON/OFF","group":"53fb69cb.f93f3","order":1,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1080,"y":165,"wires":[[]]},{"id":"db0ac527.8859f","type":"ui_gauge","z":"8b77535d.02e968","name":"Slot Share","group":"53fb69cb.f93f3","order":3,"width":0,"height":0,"gtype":"donut","title":"Slot Share","label":"","format":"","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":1106,"y":434,"wires":[]},{"id":"764023cf.9a75c4","type":"ui_chart","z":"8b77535d.02e968","name":"PhyRate","group":"53fb69cb.f93f3","order":2,"width":0,"height":0,"label":"PhyRate","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderUnit":"60","x":1091,"y":345,"wires":[[],[]]},{"id":"68a376e.664d708","type":"switch","z":"8b77535d.02e968","name":"Event Switch","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"StaStateEvent","vt":"str"},{"t":"eq","v":"StaThroughputEvent","vt":"str"},{"t":"eq","v":"StaPhyRateEvent","vt":"str"},{"t":"eq","v":"StaSlotShareEvent","vt":"str"}],"checkall":"true","outputs":4,"x":247,"y":295,"wires":[["a9c0affe.6b38d"],["bf404d56.05016"],["169533e9.710394"],["7cdcb8e9.f39c"]]},{"id":"77ffd71c.33fdb","type":"smooth","z":"8b77535d.02e968","name":"Moving Average Filter","action":"mean","count":"10","round":"","x":791,"y":84,"wires":[[]]},{"id":"a9c0affe.6b38d","type":"function","z":"8b77535d.02e968","name":"Transform","func":"if (msg.payload.state === true) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg","outputs":1,"noerr":0,"x":501.5,"y":175,"wires":[["f338eee0.9f331"]]},{"id":"bf404d56.05016","type":"function","z":"8b77535d.02e968","name":"Transform","func":"msg.payload = msg.payload.throughput\n\nreturn msg","outputs":1,"noerr":0,"x":500,"y":250,"wires":[["2e171731.9a8078"]]},{"id":"169533e9.710394","type":"function","z":"8b77535d.02e968","name":"Transform","func":"msg.payload = msg.payload.phyRate\n\nreturn msg","outputs":1,"noerr":0,"x":506,"y":333,"wires":[["764023cf.9a75c4"]]},{"id":"7cdcb8e9.f39c","type":"function","z":"8b77535d.02e968","name":"Transform","func":"msg.payload = msg.payload.slotShare\n\nreturn msg","outputs":1,"noerr":0,"x":501,"y":432,"wires":[["db0ac527.8859f"]]},{"id":"798438f1.a461f8","type":"ui_chart","z":"6f367e1e.958568","name":"Throughput","group":"b4bdb5e3.e00ce","order":2,"width":0,"height":0,"label":"Throughput","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"0","ymax":"15","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","x":1106,"y":263,"wires":[[],[]]},{"id":"879ed654.c96668","type":"ui_switch","z":"6f367e1e.958568","name":"","label":"ON/OFF","group":"b4bdb5e3.e00ce","order":1,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1092,"y":168,"wires":[[]]},{"id":"87e9e187.ec49d8","type":"ui_gauge","z":"6f367e1e.958568","name":"Slot Share","group":"b4bdb5e3.e00ce","order":3,"width":0,"height":0,"gtype":"donut","title":"Slot Share","label":"","format":"","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":1118,"y":437,"wires":[]},{"id":"e86b4efc.6a155","type":"ui_chart","z":"6f367e1e.958568","name":"PhyRate","group":"b4bdb5e3.e00ce","order":2,"width":0,"height":0,"label":"PhyRate","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderUnit":"60","x":1103,"y":348,"wires":[[],[]]},{"id":"9c0ab949.4ca288","type":"switch","z":"6f367e1e.958568","name":"Event Switch","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"StaStateEvent","vt":"str"},{"t":"eq","v":"StaThroughputEvent","vt":"str"},{"t":"eq","v":"StaPhyRateEvent","vt":"str"},{"t":"eq","v":"StaSlotShareEvent","vt":"str"}],"checkall":"true","outputs":4,"x":259,"y":298,"wires":[["fa34ae3b.d81878"],["fab612f9.2e9f1"],["df1fcfef.b21b58"],["69666d39.49aecc"]]},{"id":"33bc9187.67733e","type":"smooth","z":"6f367e1e.958568","name":"Moving Average Filter","action":"mean","count":"10","round":"","x":803,"y":87,"wires":[[]]},{"id":"fa34ae3b.d81878","type":"function","z":"6f367e1e.958568","name":"Transform","func":"if (msg.payload.state === true) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\n\nreturn msg","outputs":1,"noerr":0,"x":513.5,"y":178,"wires":[["879ed654.c96668"]]},{"id":"fab612f9.2e9f1","type":"function","z":"6f367e1e.958568","name":"Transform","func":"msg.payload = msg.payload.throughput\n\nreturn msg","outputs":1,"noerr":0,"x":512,"y":253,"wires":[["798438f1.a461f8"]]},{"id":"df1fcfef.b21b58","type":"function","z":"6f367e1e.958568","name":"Transform","func":"msg.payload = msg.payload.phyRate\n\nreturn msg","outputs":1,"noerr":0,"x":518,"y":336,"wires":[["e86b4efc.6a155"]]},{"id":"69666d39.49aecc","type":"function","z":"6f367e1e.958568","name":"Transform","func":"msg.payload = msg.payload.slotShare\n\nreturn msg","outputs":1,"noerr":0,"x":513,"y":435,"wires":[["87e9e187.ec49d8"]]}]